body {
    margin:0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    background-color: #638fa8;
}

.evolution {
    width: 100vw;
    background-image: url(../2011.jpg);
    min-height: 320px;
    background-repeat:no-repeat ;
    background-position: center;
    background-size: cover;
}

/* .padre {
    border: 1px solid #000 ;
    display: inline-block;
    width: 50vw;
}

.hijo {
    border: 1px solid #038403 ;
    display: inline-block;
    width: 50%;
} */